menu {
    margin: 0px;
    padding-left: 0px;
    margin-bottom: 20px;
}

img {
    width: 40px;
}

a.nav-link {
    color: #c0d242 !important;
}

a.nav-link:hover {
    color:#023f84 !important;
}

.bg-light {
    background-color: #c2c3ba1c !important;
}