menu {
    margin: 0px;
    padding-left: 0px;
    margin-bottom: 20px;
}

.navbar {
    color: blueviolet;
}

img {
    width: 40px;
}

a.nav-link {
    color: #c0d242 !important;
}

a.nav-link:hover {
    color:#023f84 !important
}