
<div ng-controller="lancamentoContaController">

  <h3>Controle de lançamento</h3>

  <div class="table-padding">
    <table class="table table-responsive">
        <thead class="thead">
          <tr>
            <th scope="col">Data lançamento</th>
            <th scope="col">Data lançamento da c.c. do cliente</th>
            <th scope="col">Descrição pagamento</th>
            <th scope="col">Lançamento c.c.</th>
            <th scope="col">Banco</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Número de Lançamentos</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="lancamento in data.data.listaControleLancamento">
            <td>{{lancamento.dataEfetivaLancamento}}</td>
            <td>{{lancamento.dataLancamentoContaCorrenteCliente}}</td>
            <td>{{lancamento.descricaoGrupoPagamento}}</td>
            <td>
              <p>
                <b>Situação:</b> {{lancamento.lancamentoContaCorrenteCliente.nomeSituacaoRemessa}}
                <i ng-if='lancamento.lancamentoContaCorrenteCliente.nomeSituacaoRemessa == "Pago"' class="far fa-check-circle"></i>
                <i ng-if='lancamento.lancamentoContaCorrenteCliente.nomeSituacaoRemessa != "Pago"' class="far fa-times-circle"></i>
              </p>
              <p><b>Tipo:</b> {{lancamento.lancamentoContaCorrenteCliente.nomeTipoOperacao}}</p>
            </td>
            <td>{{lancamento.nomeBanco}}</td>
            <td>{{lancamento.numeroRaizCNPJ}}/{{lancamento.numeroSufixoCNPJ}}</td>
            <td>{{lancamento.quantidadeLancamentoRemessa}}</td>
            <td>{{lancamento.valorLancamentoRemessa}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>